@{
    Layout = "~/Views/Shared/_NavBarLayout.cshtml";
    ViewBag.Title = "AboutProject";
}

<link rel="stylesheet" href="/css/about-project.css">

<div class="site-description">
    <br>
    <h2 align="center">Site of search of events on interests “SearchUp”</h2>
    <br><br>
    <h3>Site functionality</h3>
    <br>
    <p> With the help of the service you can search for and participate in events of interest to the user. These events will be created by other users (organizers). Subscription to the event can be both free (for example, going to play board or online games) and paid for tickets. The event will have a theme and some characteristics and a list of users who will participate. Subscribers and organizers will be able to correspond, and if desired, the subscription to the event will be controlled by the organizer. </p>
    <br>
    <ul>
        <li>View user events and profiles (possibly unauthorized)</li>
        <li>Registration</li>
        <li>Authorization of existing users</li>
        <li>Selection of interesting events by user interest tags and event tags</li>
        <li>Event subscription</li>
        <li>Creating an event</li>
        <li>Delete event</li>
    </ul>
</div>

