html,body{
    padding: 0;
    margin: 0;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    color: #000000;
}

*,
*:after,
*:before{
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

a{
    color: black;
    text-decoration: none;
}

p{
    padding: 0;
    margin: 0;
}

/*header*/
.header{
    width: 100%;
    padding: 20px 20px;
}

.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo{
    font-size: 30px;
    font-weight: 700;
}

.nav_link{
    font-size: bold;
    font-size: 18px;
    padding: 20px 20px;
}

/*content*/

.content{
    flex: 1;
    text-align: center;
}

.signUpForm{
    
}

/*footer*/

.footer{
    width: 100%;
}

.footer_inner{
    display: flex;
    justify-content: center;
    align-items: center;
}