@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}


<link rel="stylesheet" href="/css/about-project.css">


<div class="content">
    <div class="container">

        <div class="intro">
            <div class="intro_inner">
                <h1 class="intro_title" style="text-align: center;">What is this site for?</h1>
            </div>
        </div>
        <br>
        <p> With the help of the service you can search for and participate in events of interest to the user. These events will be created by other users (organizers). Subscription to the event can be both free (for example, going to play board or online games) and paid for tickets. The event will have a theme and some characteristics and a list of users who will participate. Subscribers and organizers will be able to correspond, and if desired, the subscription to the event will be controlled by the organizer. </p>
        <br>
        <ul>
            <li>View user events and profiles (possibly unauthorized)</li>
            <li>Registration</li>
            <li>Authorization of existing users</li>
            <li>Selection of interesting events by user interest tags and event tags</li>
            <li>Event subscription</li>
            <li>Creating an event</li>
            <li>Delete event</li>
        </ul>
        <br /><br /><br />
                    <table class="command2">
                        <tr>
                            <td>
                                <div class="img_container2">
                                    <img class="aboutUs_img" src="~/images/1.jpg" alt="1">
                                </div>
                            </td>

                            <td>#party</td>

                            <td>
                                <div class="img_container2">
                                    <img class="aboutUs_img" src="~/images/3.jpg" alt="3">
                                </div>
                            </td>                           

                        </tr>

                        <tr>

                            <td>#movies</td>

                            <td>
                                <div class="img_container2">
                                    <img class="aboutUs_img" src="~/images/4.jpg" alt="4">
                                </div>
                            </td>

                            <td>#board games</td>

                        </tr>

                        <tr>
                            <td>
                                <div class="img_container2">
                                    <img class="aboutUs_img" src="~/images/5.jpg" alt="5">
                                </div>
                            </td>

                            <td>#evening</td>

                            <td>
                                <div class="img_container2">
                                    <img class="aboutUs_img" src="~/images/6.jpg" alt="6">
                                </div>
                            </td>

                        </tr>

                    </table>
        <br /><br />
        <div class="subintro">
            <div class="subintro_inner">
            </div>
        </div>

    </div>
</div>

