@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}

<div class="home-index-content">
    <div class="intro">
        <div class="intro_inner">
            <h1 class="intro_title">What is this site for?</h1>
        </div>
    </div>
    <div class="subintro">
        <div class="subintro_inner">
            @if (User.Identity.IsAuthenticated)
            {
                <p>@User.Identity.Name</p>
                <form method="post" asp-controller="Account" asp-action="Logout">
                    <input class="post-link" type="submit" value="Выход" />
                </form>
            }
            else
            {
                <a asp-controller="Account" asp-action="Login">Log In</a>
                <a asp-controller="Account" asp-action="Register">Sign Up</a>
            }
        </div>
    </div>
</div>
 
