@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<div class="content">
    <div class="container">

        <div class="intro">
            <div class="intro_inner">
                <h1 class="intro_title" style="text-align: center;">@Localizer["IntroTitle"]</h1>
            </div>
        </div>
        <div class="subintro">
            <div class="subintro_inner">
            </div>
        </div>

    </div>
</div>

