<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
     <link rel="stylesheet" href="/css/layout.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,800;0,900;1,100;1,200;1,800&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container">
            <div class="header-inner horizontal-flex-container">
                <a class="logo" asp-controller="Home" asp-action="Index">SearchUp</a>
                <nav class="nav">
                    @if (!User.Identity.IsAuthenticated) { 
                        <a class="nav-link" asp-controller="Account" asp-action="Login">Log In</a>
                        <a class="nav-link" asp-controller="Account" asp-action="Register">Sign Up</a>
                    }
                    else {
                        <form method="post" asp-controller="Account" asp-action="Logout">
                            <input class="post-link" type="submit" value="Выход" />
                        </form>
                    }
                </nav>
            </div>
        </div>
    </header>

    <div class="content">
        <div class="container">
            <div class="content-inner">   
                @RenderBody()
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="footer-inner horizontal-flex-container">
                <nav class="nav">
                    <a class="nav-link" href="#">About us</a>
                    <a class="nav-link" href="#">About project</a>
                </nav>
            </div>
        </div>
    </footer>

</body>
</html>
