@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="nav-menu-wrap">
    <nav class="nav-menu">
        <a class="nav-link" href="#">My profile</a>
        <a class="nav-link" href="#">Friends</a>
        <a class="nav-link" href="#">Events</a>
        <a class="nav-link" href="#">Chats</a>
    </nav>
</div>

<div class="content">
    @RenderBody()
</div>
