@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="nav-bar">
    <div class="container">
        <nav class="nav-menu">
            <a asp-controller="UserProfile" asp-action="Index" asp-route-id="0" class="nav-link">My Profile</a>
            <a asp-controller="Events" asp-action="Index" class="nav-link">Events</a>
            <a asp-controller="MyChats" asp-action="Index" class="nav-link">Chats</a>
        </nav>
    </div>
</div>

<div class="content">
    <div class="container">
        @RenderBody()
    </div>
</div>
