@model Application.ViewModels.LoginViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Log In";
}

<link rel="stylesheet" href="/css/authorization-forms.css">

<div class="content">
    <div class="container">
        <div class="login-content">
            <div class="sighUpForm">
                <h2 clas="auth-form-heading">Log In</h2>
                @Html.ValidationSummary(false, "", new {@class = "error"})
                <form method="post" asp-controller="Account" asp-action="Login">
                    <div>
                        <label asp-for="Username"></label><br />
                        @{  
                            string name = "";
                            if (Model != null && Model.Password == null)
                                name = Model.Username;
                            <input asp-for="Username" value="@name" />
                        }                        
                        <span asp-validation-for="Username"></span>
                    </div>
                    <div>
                        <label asp-for="Password"></label><br />
                        <input asp-for="Password" />
                        <span asp-validation-for="Password"></span>
                    </div>
                    <div>
                        <label asp-for="RememberMe"></label><br />
                        <input asp-for="RememberMe" />
                    </div>
                    <div>
                        <input type="submit" value="Войти" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
